.git
.cache
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env
node_modules
**/node_modules
.pnpm-store
mlflow-master
.space-runtimes
hub-meta
hub-storage
dist
**/dist
coverage
coverage-ui
coverage-ui-admin
htmlcov
*.pyc
__pycache__
.DS_Store
